@import "bootstrap";

body {
  background-color: #2c3e50;
  color: #ecf0f1;
}


.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    margin: 0 auto;
    width: 50%;
}

.form-login h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
 color: #333;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}


.message {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 1em;
  padding: 0.6em 0;
}

.message-sender {
  border-right: 1px solid #fff;
  padding: 0.5em;
}

.message-content {
  padding: 0.5em;
}

// Modal
.modal-content {
  background-color: #2c3e50;
}
